<div>Searched query: <span style="font-weight: bold;">{{query}}</span></div>

<input type="text"
       class="Label-left"
       id="contactSearchFilter"
       autocomplete="off"
       ng-model="contactSearchFilter" name="contactSearchFilter"
       placeholder="Filter"/>

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th class=".col-md-1 .col-md-1 table-header">No</th>
        <th class=".col-md-2 .col-md-1 table-header">Name</th>
        <th class=".col-md-1 .col-md-2 table-header">SIN</th>
        <th class=".col-md-1 .col-md-1 table-header">Gender</th>
        <th class=".col-md-1 .col-md-1 table-header">Email</th>
        <th class=".col-md-1 .col-md-1 table-header">MobilePhone</th>
        <th class=".col-md-3 .col-md-1 table-header">Address</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="contact in filteredContactSearch = (searchcontacts | filter : contactSearchFilter)| limitTo:pageLimit:pageBegin"
        ng-click="showHouseholdContact(contact.AddressID, contact.ContactID)">
        <td class="table-header"> {{$index+1}}</td>
        <td>{{getName(contact.SalutationTypeName, contact.FirstName,contact.MiddleName,contact.LastName)}}</td>
        <td>{{contact.SIN}}</td>
        <td>{{contact.Gender}}</td>
        <td>{{contact.Email}}</td>
        <td>{{contact.MobilePhone}}</td>
        <td>{{addressFormatter(contact)}}</td>
    </tr>
    <tr>
        <td colspan="11" class="PageFooter">
            <div style="float:right; position:relative; left:-35%; text-align:left;padding-top:3px;border:solid 1px transparent;width:20%">
                <span>Total records : </span>
                <span>&nbsp;{{rowcount}}</span>
            </div>
            <div style="float:left;border:solid 1px transparent;">
                <span>Show&nbsp;</span>
                <input type="number"
                       id="contactPageSize"
                       min="0"
                       autocomplete="off"
                       name="contactPageSize"
                       ng-model="pagesize"
                       ng-change="changePageSize()"
                       ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }">
                <span>&nbsp;records per page</span>
            </div>
            <div style="float:right;border:solid 1px transparent;position:relative; left:20%; ">
                <span>Page</span>
                <img src="assets\img\leftArrow.jpg" ng-click="previousPage()"/>
                <input type="number"
                       min="0"
                       id="contactPageNumber"
                       autocomplete="off"  name="contactPageNumber"
                       ng-model="pagenumber"
                       ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }"
                       ng-change="changePageNumber()">
                <img src="assets\img\rightArrow.jpg" ng-click="nextPage()"/>
                <span>of&nbsp;</span>
                <span>{{maxNumberOfPages}}</span>
            </div>

        </td>
    </tr>

