<!DOCTYPE html>
<html ng-app="crmAideApp" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <script type="text/javascript" src="src/common/angular-ui-mask/mask.js"></script>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <!--<script type="text/javascript" src="https://apis.google.com/js/plusone.js">-->
      <!--{ "parsetags": "explicit" }-->
    <!--</script>-->
	
	<link rel="stylesheet" type="text/css" href="assets\css\site.css">
  </head>
  <body>

    <div ng-http-loader template="loader.html"></div>
    <div class="container header-bar" ng-show="isLoggedIn == true">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            Aide
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active" class="TopMenu">
              <a href ui-sref="home">
                <i class="fa"></i>
				<img src="assets/img/House.png"/>
                <span>Dashboard</span>
              </a>
            </li>
            <li ui-sref-active="active" class="TopMenu">
              <a href ui-sref="household">
                <i class="fa"></i>                
				<img src="assets/img/Client.png"/>
                <span>Client</span>
              </a>
            </li>
			<li ui-sref-active="active" class="TopMenu">
              <a href ui-sref="report">
                <i class="fa"></i>
				<img src="assets/img/Reports.png"/>
                <span>Report</span>
              </a>
            </li>
			<li ui-sref-active="active" class="TopMenu">
              <a href ui-sref="assistant.appointment">
                <i class="fa"></i>
                <img src="assets/img/Assistant.png"/>
                <span>Assistant</span>
              </a>
            </li>
            <li class="Search">
              <a href="" >
                <input autocomplete="off" type="text" ng-model="searchquery" placeholder="Search" />
                <img src="assets/img/Search.png" ng-click="doContactSearch();"/>
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
			<li>
              <a href ui-sref="setting">
                <i class="fa"></i>
                <img src="assets/img/Comprehensive.png" class="Signout" title="Settings"/>
              </a>
            </li>
			<li>
              <a href ui-sref="help">
                <i class="fa"></i>
                <img src="assets/img/Help.png" class="Signout" title="Help"/>
              </a>
            </li>
			<li>
              <a href ui-sref="profile" class="UserName" title="Profile">
                {{AvatarName}}
              </a>
            </li>
            <li ng-if="isLoggedIn == true" uib-dropdown="">
              <a href ng-click="signout()">
                <i class="fa"></i>
                <img src="assets/img/Logout.png" class="Signout" title="Sign-out"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container content-body" ui-view="main"></div>

    <footer class="footer footer-bar">
      <div class="container">
        <div class="footer-inner">
          <p>
			<small>Aide 
              <a href="#">
                v <%= version %>
              </a>
            </small>
            (c) 2016 <a href="#">PlanetEsskay</a>.
            <br />
          </p>
        </div>
      </div>
    </footer>
    <!--<div dw-loading="key" dw-loading-options="options"></div>-->

    <!--&lt;!&ndash;<div ng-show="hasPendingRequests()" class="modal" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">&ndash;&gt;-->
      <!--<div z-index=100 ng-show="hasPendingRequests()" >-->
        <!--&lt;!&ndash;<img src="../../assets/img/loading.gif" />&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
          <!--&lt;!&ndash;<h3>Animated button</h3>&ndash;&gt;-->
          <!--&lt;!&ndash;<button class="btn btn-lg btn-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--<div class="container container-table">-->
        <!--<div class="row vertical-center-row">-->
          <!--<div class="text-center col-md-4 col-md-offset-4" style="background:red">-->
            <!--<button class="btn btn-lg btn-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

  </body>
</html>
