<div style="border: 1px solid black">
    <span ng-bind-html="match.label.SalutationTypeName| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.FirstName| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.MiddleName| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.LastName| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.SIN| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.Gender| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.Email| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.MobilePhone| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.Street1| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.Street2| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.City| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.Zip| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.CountryName| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.CountryShortName| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.StateName| uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.label.StateShortName| uibTypeaheadHighlight:query"></span>
</div>

