<div class="container" >
    <form name="addcontactassociation">
        <div class="col-md-8">
            <div class="form-group row">
                <label class="col-md-2"  for="ContactName">Contact * :</label>
                <div class="col-md-4">
                    <div class="input-group" id="ContactName" >
                        <input type="text" class="form-control" name="ContactName"
                               ng-model="ContactName"
                               readonly="readonly" placeholder="Select Contact"/>\
                        <span class="input-group-addon" ng-click="SelectContact()"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2" for="association.ContactTypeID">Relation * :</label>
                <div class="col-md-4">
                    <div class="input-group col-md-12" id="association.ContactTypeID">
                        <select class="form-control "
                                name="association.ContactTypeID"
                                ng-model="association.ContactTypeID"
                                ng-options="contacttype.ContactTypeID as contacttype.ContactName for contacttype in allcontacttypes"
                                ng-required="required"
                        >
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3"  for="association.IsAssociateDependent">Is Dependent :</label>
                <input type="checkbox" class="col-md-3" id="association.IsAssociateDependent"
                       name="association.IsAssociateDependent"
                       ng-model="association.IsAssociateDependent"/>
            </div>
            <div >
                <button class="btn" ng-click="closeThisDialog()">Close</button>
                <input type="submit" class="btn btn-default" ng-click="Add()" value="Add" />
            </div>
        </div>
    </form>
</div>
