<div class="FieldContainer">
    <div>
        <label for="contact.SalutationID">Title * :</label>
        <select id="contact.SalutationID"
                name="contact.SalutationID"
                ng-model="contact.SalutationID"
                ng-options="salutation.SalutationTypeID as salutation.SalutationTypeName for salutation in Salutations"
                ng-required="required"
        >
        </select>
    </div>
    <div>
        <label for="contact.FirstName">First Name * :</label>
        <input type="text" id="contact.FirstName" autocomplete="off"  name="contact.FirstName" placeholder="First Name" ng-model="contact.FirstName" ng-required="required" style="width:170px;">
    </div>
    <div>
        <label for="contact.MiddleName">Middle Name :</label>
        <input type="text" id="contact.MiddleName" autocomplete="off"  name="contact.MiddleName" placeholder="Middle Name" ng-model="contact.MiddleName" style="width:100px;">
    </div>
    <div>
        <label for="contact.LastName">Last Name * :</label>
        <input type="text" id="contact.LastName" autocomplete="off"  name="contact.LastName" placeholder="Last Name" ng-model="contact.LastName" ng-required="required" style="width:170px;">
    </div>
    <div>
        <label for="contact.SIN">SIN :</label>
        <input type="text" id="contact.SIN" autocomplete="off"  name="contact.SIN"

               ui-mask-placeholder ui-mask-placeholder-char="_"
               ng-model="contact.SIN"
               ui-mask="999-999-999"
               style="width:100px;">
    </div>
    <div>
        <label for="contact.IsMale" >Gender * :</label>
        <select id="contact.IsMale" name="contact.IsMale"
                ng-model="contact.IsMale"
                ng-selected="contact.IsMale"
                ng-required="required"
                ng-options="gender.genderId as gender.genderName for gender in genderList"
                ng-change="updateGender()"
        >
        </select>
    </div>
    <div>
        <label for="contact.Email">Email :</label>
        <input type="text" id="contact.Email" autocomplete="off"  name="contact.Email" placeholder="Email" ng-model="contact.Email" title="{{contact.Email}}" style="width:170px;">
    </div>
    <div>
        <label for="contact.Mobile">Mobile :</label>
        <input type="text" id="contact.Mobile" autocomplete="off"  name="contact.Mobile"
               placeholder="(###)-###-####" ng-model="contact.Mobile"
               ui-mask-placeholder ui-mask-placeholder-char="_"
               ui-mask="(999)-999-9999"
               style="width:120px;">
    </div>

    <div class="form-group row" >
        <label class="col-md-2" for="dob" style="padding-left: 20px;">DOB :</label>
		<span id="dob" class="col-md-4">
			<datepicker  selector="dtControl" date-format="yyyy-MMM-dd"  >
				<input  class="dtControl" ng-model="myDOB" type="text"  />
				<div ng-show="dateerror">{{dateerror}}</div>
			</datepicker>
		</span>
    </div>
    <div style="border-top:solid 1px lightgray;padding-top:10px">
        <span class="RequiredFieldLabel">* indicates required field</span>
        <input type="submit" style="position:relative;left:35%" class="" ng-click="Update()" value="Save" ng-disabled=""/>
    </div>
</div>
