<div class="container" >
    <form name="addserviceform">
        <div class="col-md-8">
            <div class="form-group row">
                <label class="col-md-2" for="addservice.ServiceID">Service * :</label>
                <select class="col-md-4" id="addservice.ServiceID"
                        name="addservice.ServiceID"
                        ng-model="addservice.ServiceID"
                        ng-options="service.ServiceID as service.ServiceName for service in addservice.servicelist"
                        ng-required="required"
                >
                </select>
            </div>
            <div class="form-group row">
                <label class="col-md-2"  for="addservice.Description">Description :</label>
                <input type="text" class="col-md-4" id="addservice.Description"
                       name="addservice.Description"
                       ng-model="addservice.Description"/>
            </div>
            <div >
                <button class="btn" ng-click="closeThisDialog()">Close</button>
                <input type="submit" class="btn btn-default" ng-click="addservice.add()" value="Add" />
            </div>
        </div>
    </form>
</div>
