<div style="padding-bottom:20px;">
	<nav-breadcrumb householdid="householdid" contactid="contactid"></nav-breadcrumb>
</div>
<div class="FieldContainer">
	<div style="border-bottom:solid 1px lightgray;padding-top:10px">
		<label for="Address">Household * :</label>
		<input type="text" id="Address" name="Address"
			   ng-model="Address"
			   readonly="readonly" placeholder="Select Household"/>
		<span ng-click="ChangeHousehold()"><i class="fa fa-street-view" aria-hidden="true"></i></span>
	</div>
	<div>
		<label for="contact.SalutationID">Title * :</label>
		<select id="contact.SalutationID"
					name="contact.SalutationID"
                    ng-model="contact.SalutationID"
                    ng-options="salutation.SalutationTypeID as salutation.SalutationTypeName for salutation in Salutations"
                    ng-required="required"
		>
		</select>
	</div>
	<div>
		<label for="contact.FirstName">First Name * :</label>
		<input type="text" id="contact.FirstName" autocomplete="off"  name="contact.FirstName" placeholder="First Name" ng-model="contact.FirstName" ng-required="required" style="width:170px;">
	</div>
	<div>
		<label for="contact.MiddleName">Middle Name :</label>
		<input type="text" id="contact.MiddleName" autocomplete="off"  name="contact.MiddleName" placeholder="Middle Name" ng-model="contact.MiddleName" style="width:100px;">
	</div>
	<div>
		<label for="contact.LastName">Last Name * :</label>
		<input type="text" id="contact.LastName" autocomplete="off"  name="contact.LastName" placeholder="Last Name" ng-model="contact.LastName" ng-required="required" style="width:170px;">
	</div>
	<div>
		<label for="contact.SIN">SIN :</label>
		<input type="text" id="contact.SIN" autocomplete="off"  name="contact.SIN"

			   ui-mask-placeholder ui-mask-placeholder-char="_"
			   ng-model="contact.SIN"
			   ui-mask="999-999-999"
			   style="width:100px;">
	</div>
	<div>
		<label for="contact.IsMale" >Gender * :</label>
		<select id="contact.IsMale" name="contact.IsMale"
				ng-model="contact.IsMale"
				ng-selected="contact.IsMale"
				ng-required="required"
				ng-options="gender.genderId as gender.genderName for gender in genderList"
				ng-change="updateGender()"
		>
		</select>
	</div>
	<div>
		<label for="contact.Email">Email :</label>
		<input type="text" id="contact.Email" autocomplete="off"  name="contact.Email" placeholder="Email" ng-model="contact.Email" title="{{contact.Email}}" style="width:170px;">
	</div>
	<div>
		<label for="contact.Mobile">Mobile :</label>
		<input type="text" id="contact.Mobile" autocomplete="off"  name="contact.Mobile"
			   placeholder="(###)-###-####" ng-model="contact.Mobile"
			   ui-mask-placeholder ui-mask-placeholder-char="_"
			   ui-mask="(999)-999-9999"
			   style="width:120px;" />
	</div>	
	<div class="form-group row" >
		<label class="col-md-2" for="dob" style="padding-left: 20px;">DOB :</label>
		<span id="dob" class="col-md-3">
			<datepicker  selector="dtControl" date-format="yyyy-MMM-dd"  >
				<input  class="dtControl" ng-model="myDOB" type="text"  />
				<div ng-show="dateerror">{{dateerror}}</div>
			</datepicker>
		</span>
	</div>

	<div >
		<label for="contact.Description">Description :</label>
		<uib-tabset active="active" id="contact.Description">
			<uib-tab index="0" heading="Rich Editor">
				<div text-angular
					 ng-model="contact.Description" ta-toolbar="[['p','bold','italics','underline', 'ul', 'ol'],
                ['justifyLeft','justifyCenter','justifyRight', 'justifyFull']]"
					>

				</div>
			</uib-tab>
			<uib-tab index="1" heading="Text Editor">
				<textarea ng-model="contact.Description" rows="10" style="width: 100%;">
				</textarea>
			</uib-tab>
		</uib-tabset>
	</div>
	<div style="border-top:solid 1px lightgray;padding-top:10px">
		<span class="RequiredFieldLabel">* indicates required field</span>
		<input type="submit" style="position:relative;left:35%" class="" ng-click="Update()" value="Save" ng-disabled=""/>
	</div>

</div>

<div class="FieldContainer" style="">
	<table class="table table-striped table-bordered table-hover">
		<span class="text-left" >Services</span>
		<span class="Label-right" ng-if="contact.ContactID>0" ng-click="AddService()">Add Services</span>
		<thead>
		<tr>
			<th class=".col-md-1 .col-md-4">Name</th>
			<th class=".col-md-8 .col-md-4">Description</th>
			<th class=".col-md-3 .col-md-1">Created</th>
			<th class=".col-md-1 .col-md-1">Delete</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="subscription in contact.ServicesSubscription" ng-click="showdetails(contact.AddressID, contact.ContactID, subscription.ContactServiceID, subscription.ServiceID)">
			<td>{{subscription.ServiceName}}</td>
			<td>{{subscription.Description}}</td>
			<td>{{subscription.CreateDate | date: 'yyyy-MM-dd'}}</td>
			<td class="text-center"><i class="fa fa-times" ng-click="remove(subscription);$event.stopPropagation();"></i></td>
		</tr>
		</tbody>
	</table>
</div>

<div class="FieldContainer" style="width:240px;">
	<table class="table table-striped table-bordered table-hover">
		<span class="text-left" >Activities</span>
		<span class="Label-right" ng-if="contact.ContactID>0" ><img src="assets\img\Calendar.png" class="Calenderimg" title="Activities"/></span>
		<thead>
		<tr>
			<th class=".col-md-1 .col-md-1">Date</th>
			<th class=".col-md-8 .col-md-4">Description</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="activity in activities" >
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
</div>


<div class="FieldContainer" style="">
	<table class="table table-striped table-bordered table-hover">
		<span class="text-left" >Association</span>
		<span class="Label-right" ng-if="contact.ContactID>0" ng-click="AddAssociation(contact)">Add Association</span>
		<thead>
		<tr>
			<th class=".col-md-1 .col-md-4">Name</th>
			<th class=".col-md-8 .col-md-4">Relation</th>
			<th class=".col-md-8 .col-md-4">IsDependent</th>
			<th class=".col-md-1 .col-md-1">Delete</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="association in contact.Association" ng-click="showContactDetail(association.RelationAddressID, association.RelationContactID)" >
			<td>{{association.RelationContactName}}</td>
			<td>{{association.RelationType}}</td>
			<td>{{association.IsAssociateDependent?"Yes":"No"}}</td>
			<td class="text-center"><i class="fa fa-times" ng-click="removeAssociation(association);$event.stopPropagation();"></i></td>
		</tr>
		</tbody>
	</table>
</div>
