<div class="container" >
    <form class="form-horizontal">

        <div  class="col-md-12" >
            <table class="table table-striped table-bordered table-hover">
                <input type="text" class="Label-left" id="contactSearch" autocomplete="off" ng-model="contactSearch" name="contactSearch" placeholder="Enter Contact Name"/>
                <img src="assets\img\Filter.png" class="Filterimg"/>
                <span class="Label-right" ng-click="AddContact()">Add Contact</span>
                <thead>
                <tr>
                    <th >First Name</th>
                    <th >Middle Name</th>
                    <th >Last Name</th>
                    <th >Street1</th>
                    <th >Street2</th>
                    <th >City</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in filteredcontacts = (allcontacts| filter : contactSearch )| limitTo:pageLimit:pageBegin"
                    ng-click="selectContact(contact)">
                    <td>{{contact.FirstName}}</td>
                    <td>{{contact.MiddleName}}</td>
                    <td>{{contact.LastName}}</td>
                    <td>{{contact.Street1}}</td>
                    <td>{{contact.Street2}}</td>
                    <td>{{contact.City}}</td>
                </tr>
                <tr>
                    <td colspan="11" class="PageFooter">
                        <div style="float:right; position:relative; left:-35%; text-align:left;padding-top:3px;border:solid 1px transparent;width:20%">
                            <span>Total records : </span>
                            <span>&nbsp;{{rowcount}}</span>
                        </div>
                        <div style="float:left;border:solid 1px transparent;">
                            <span>Show&nbsp;</span>
                            <input type="text"
                                   id="pageSize"
                                   min="0"
                                   autocomplete="off"
                                   name="pageSize"
                                   only-digits
                                   ng-model="pagesize"
                                   ng-change="changePageSize()"
                                   ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }">
                            <span>&nbsp;records per page</span>
                        </div>
                        <div style="float:right;border:solid 1px transparent;position:relative; left:20%; ">
                            <span>Page</span>
                            <img src="assets\img\leftArrow.jpg" ng-click="previousPage()"/>
                            <input type="text"
                                   only-digits
                                   min="0"
                                   id="pageNumber"
                                   autocomplete="off"  name="pageNumber"
                                   ng-model="pagenumber"
                                   ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }"
                                   ng-change="changePageNumber()">
                            <img src="assets\img\rightArrow.jpg" ng-click="nextPage()"/>
                            <span>of&nbsp;</span>
                            <span>{{maxNumberOfPages}}</span>
                        </div>

                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </form>
</div>