<div class="FieldContainer DashBoardBlock">
	<div class= "DashBoardHeading">
		<span class="text-left">Current Tasks</span>
	</div>
	<div class="DashBoardContent">&nbsp;</div>
</div>
<div class="FieldContainer DashBoardBlock">
	<div class= "DashBoardHeading">
		<span class="text-left">Recent Clients</span>
	</div>
	<div class="DashBoardContent">
		<ul>
			<li ng-repeat="eachrecentcontact in recentcontacts">
				<a ui-sref='contactdetail({householdID: eachrecentcontact.AddressID , contactID:eachrecentcontact.ContactId})'>
					{{eachrecentcontact.ContactName}}</a>
			</li>
		</ul>
	</div>
</div>
<div class="FieldContainer DashBoardBlock">
	<div class= "DashBoardHeading">
		<span class="text-left">Favorite Reports</span>
	</div>
	<div class="DashBoardContent">
		<ul>
			<li><a href="file:///E:/CRMAide/crmAideWeb/build/index.html#/contact/822"><img src="assets\img\Reports.png">Cilents by Service</a></li>
			<li><a href="file:///E:/CRMAide/crmAideWeb/build/index.html#/contact/857"><img src="assets\img\Reports.png">Clients by City</a></li>
			<li><a href="file:///E:/CRMAide/crmAideWeb/build/index.html#/contact/857"><img src="assets\img\Reports.png">Up-coming Birthdays</a></li>
			<li><a href="file:///E:/CRMAide/crmAideWeb/build/index.html#/contact/857"><img src="assets\img\Charts.png">City wise penetration</a></li>
			<li><a href="file:///E:/CRMAide/crmAideWeb/build/index.html#/contact/857"><img src="assets\img\Charts.png">Age group penetration</a></li>
		</ul>
	</div>
</div>
<div class="FieldContainer DashBoardBlock">
	<div class= "DashBoardHeading">
		<span class="text-left">Menus</span>
	</div>
	<div class="DashBoardContent">&nbsp;</div>
</div>