<div style="padding-bottom:20px;">
	<nav-breadcrumb householdid="householdid" contactid="contactid"></nav-breadcrumb>
</div>
<hr>
<div class="FieldContainer">
	<div ng-repeat="eachfield in metadatafields">
		<service-field-generator
				fieldmetadata="eachfield"
				datamodel="DataModel"
				datakey="eachfield.ServiceFieldID"/>
	</div>
	<div style="border-top:solid 1px lightgray;padding-top:10px">
		<span class="RequiredFieldLabel">* indicates required field</span>
		<input type="submit" style="position:relative;left:35%" class="" ng-click="Update()" value="Save" ng-disabled=""/>
	</div>
</div>