<div>
    Add/edit appointment
</div>

<div class="container" >
    <form name="addserviceform">
        <div class="col-md-8">
            <div class="form-group row">
                <label class="col-md-2"  for="addeditappointment.title">Title :</label>
                <input type="text" class="col-md-4" id="addeditappointment.title"
                       name="addeditappointment.title"
                       ng-model="addeditappointment.title"/>
            </div>
            <div class="form-group row">
                <label class="col-md-2"  for="addeditappointment.description">Description :</label>
                <input type="text" class="col-md-4" id="addeditappointment.description"
                       name="addeditappointment.description"
                       ng-model="addeditappointment.description"/>
            </div>
            <div class="form-group row">
                <label class="col-md-2"  for="addeditappointment.start">Start :</label>
                <div class="col-md-4">
                    <pdiv class="input-group">
                        <input type="text" id="addeditappointment.start"
                               class="form-control" datetime-picker="dd MMM yyyy HH:mm"
                               ng-model="addeditappointment.start" is-open="isOpenStart"  />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendarStart($event, prop)"><i class="fa fa-calendar"></i></button>
                        </span>
                    </pdiv>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2"  for="addeditappointment.end">End :</label>
                <div class="col-md-4">
                    <pdiv class="input-group">
                        <input type="text" id="addeditappointment.end"
                               class="form-control" datetime-picker="dd MMM yyyy HH:mm"
                               ng-model="addeditappointment.end" is-open="isOpenEnd"  />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendarEnd($event, prop)"><i class="fa fa-calendar"></i></button>
                        </span>
                    </pdiv>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2"  for="addeditappointment.allday">AllDay :</label>
                <input type="checkbox" class="col-md-4" id="addeditappointment.allday"
                       name="addeditappointment.allday"
                       ng-model="addeditappointment.allDay"/>
            </div>
            <div >
                <button class="btn" ng-click="$state.reload();closeThisDialog();">Close</button>
                <button class="btn" ng-click="deleteAppointment()">Delete</button>
                <span style="width: 10px;"></span>
                <input type="submit" class="btn btn-default" ng-click="update()" value="Save" />
            </div>
        </div>
    </form>
</div>
