<div class="btn-toolbar ng-scope">
    <p class="pull-right lead"></p>
    <div class="btn-group">
        <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalender')">AgendaDay</button>
        <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalender')">AgendaWeek</button>
        <button class="btn btn-success" ng-click="changeView('month', 'myCalender')">Month</button>
        <button class="btn btn-primary" ng-click="addEvent()">Add Appointment</button>
    </div>
</div>
<div ui-calendar="uiConfig.calendar" calendar="myCalender" class="span8 calendar" ng-model="eventSources"></div>