
<a href ui-sref="assistant.appointment">
    <i class="fa"></i>
    <span>Appointment</span>
</a>
<a href ui-sref="assistant.task">
    <i class="fa"></i>
    <span>Tasks</span>
</a>

<!--<div class="navbar navbar-default">-->
    <!--<div class="navbar-header">-->
        <!--<div class="collapse navbar-collapse" collapse="menuCollapsed">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li ui-sref-active="active" >-->
                    <!--<a href ui-sref="assistant.appointment">-->
                        <!--<i class="fa"></i>-->
                        <!--<span>Appointment</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li ui-sref-active="active" >-->
                    <!--<a href ui-sref="assistant.task">-->
                        <!--<i class="fa"></i>-->
                        <!--<span>Tasks</span>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div>
    <div ui-view="assistant-appointment"></div>
    <div ui-view="assistant-task"></div>
</div>