<!DOCTYPE html>
<html ng-app="crmAideApp" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

	<link rel="stylesheet" type="text/css" href="assets\css\site.css">
</head>
<body>
	<form ng-submit="login()">
		<div class="FieldContainer" style="margin-top:50px;float:right;min-height:100px;">
			<div class="">
				<label for="username">Username</label>
				<input type="text" class="" id="username"
					   placeholder="Username"
					   ng-model="username">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="" id="inputPassword"
					   placeholder="Password"
					   ng-model="password">
			</div>
			<div ng-if="errorMessage!=''" class="alert alert-danger">
				<span >{{errorMessage}}</span>
			</div>
			
			<span class="float:left;"><a href="">Forgot Password?</a></span>
			
			<input type="submit" class="" value="Login" style="float:right;" />
		</div>
	</form>
</body>
</html>