<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
		<input type="text" class="Label-left" id="householdSearch" autocomplete="off" ng-model="householdSearch" name="householdSearch" placeholder="Search"/>
		<img src="assets\img\Filter.png" class="Filterimg"/>
		<span class="Label-right" ng-click="AddAddress()">Add Address</span>	
	<thead>
        <tr>
            <th class=".col-md-1 .col-md-1 table-header">No</th>
            <th class=".col-md-8 .col-md-2 table-header">Street 1</th>
			<th class=".col-md-8 .col-md-1 table-header">Street 2</th>
			<th class=".col-md-8 .col-md-1 table-header">City</th>
			<th class=".col-md-8 .col-md-1 table-header">Zip</th>
            <th class=".col-md-3 .col-md-1 table-header">State</th>
            <th class=".col-md-3 .col-md-1 table-header">Country</th>
            <th class=".col-md-3 .col-md-1 table-header">Phone</th>
            <th class=".col-md-3 .col-md-1 table-header">FAX</th>
            <th class=".col-md-1 .col-md-1 table-header">Maps</th>
            <th class=".col-md-1 .col-md-1 table-header">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="address in filteredhouseholds = (households| filter : householdSearch )| limitTo:pageLimit:pageBegin"
			ng-click="showHouseholdDetail(address.AddressID)">
            <td class="table-header"> {{$index+1}}</td>
            <td>{{address.Street1}}</td>
			<td>{{address.Street2}}</td>
			<td>{{address.City}}</td>
			<td class="table-header">{{address.Zip}}</td>
			<td class="table-header">{{address.state}}</td>
			<td class="table-header">{{address.country}}</td>
            <td class="table-header">{{address.Phone}}</td>
            <td class="table-header">{{address.FAX}}</td>
			<td class="text-center"><a target="_map" href="http://maps.google.com/?q={{address.address}}" ng-click="$event.stopPropagation();" class="fa fa-globe"></a></td>
            <td class="text-center"><i class="fa fa-times" ng-click="remove(address);$event.stopPropagation();"></i></td>
        </tr>
		<tr>
			<td colspan="11" class="PageFooter">
				<div style="float:right; position:relative; left:-35%; text-align:left;padding-top:3px;border:solid 1px transparent;width:20%">
					<span>Total records : </span>
					<span>&nbsp;{{rowcount}}</span>
				</div>
				<div style="float:left;border:solid 1px transparent;">
					<span>Show&nbsp;</span>
					<input type="text"
						   id="householdPageSize"
						   min="0"
						   autocomplete="off"
						   name="householdPageSize"
						   only-digits
						   ng-model="pagesize"
						   ng-change="changePageSize()"
						   ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }">
					<span>&nbsp;records per page</span>
				</div>
				<div style="float:right;border:solid 1px transparent;position:relative; left:20%; ">
					<span>Page</span>
					<img src="assets\img\leftArrow.jpg" ng-click="previousPage()"/>
					<input type="text"
						   only-digits
						   min="0"
						   id="householdPageNumber"
						   autocomplete="off"  name="householdPageNumber"
						   ng-model="pagenumber"
						   ng-model-options="{updateOn: 'default blur', debounce: {default: 750, blur: 0} }"
						   ng-change="changePageNumber()">
					<img src="assets\img\rightArrow.jpg" ng-click="nextPage()"/>
					<span>of&nbsp;</span>
					<span>{{maxNumberOfPages}}</span>
				</div>
				
			</td>
		</tr>
        </tbody>
		
    </table>
</div>