<p style="visibility: hidden">household details {{recordid}}</p>

		<div class="FieldContainer">
			<div>
				<label for="household.Street1">Street1 * :</label>
				<input type="text" class="" id="household.Street1" autocomplete="off"  name="household.Street1" placeholder="Street Address" ng-model="household.Street1" ng-required="required" style="width:250px;">
			</div>
			<div>
				<label for="household.Street2">Street2 :</label>
				<input type="text" class="" id="household.Street2" autocomplete="off"  name="household.Street2" placeholder="Unit No" ng-model="household.Street2" style="width:100px;">
			</div>
			<div>
				<label for="household.City">City * :</label>
				<input type="text" class="" id="household.City" autocomplete="off"  name="household.City" placeholder="City"
                   ng-model="household.City" ng-required="required" uib-typeahead="suggestion for suggestion in cities($viewValue)" style="width:250px;">
			</div>
			<div>
				<label for="household.Zip">Zip :</label>
				<input type="text" id="household.Zip" autocomplete="off" name="household.Zip" placeholder="" ng-model="household.Zip" style="width:100px;">
			</div>
			<div>
				<label for="household.StateID">State * :</label>
				<select class=""  id="household.StateID" name="household.StateID" ng-model="household.StateID"
                    ng-options="state.StateID as state.StateName for state in States"
                    ng-required="required"
				>
				</select>
			</div>
			<div>
				<label for="household.StateID">Country * :</label>
				<select class=""  id="household.CountryID" name="household.CountryID" ng-model="selectedCountryID"
                    ng-options="country.CountryID as country.CountryName for country in Countries"
                    ng-change="updateStateList()"
                    ng-required="required"
				>
				</select>
			</div>
			<div>
				<label for="household.Phone">Phone :</label>
				<input type="text" class="" id="household.Phone" autocomplete="off"
					   name="household.Phone" placeholder="(###)-###-####"
					   ng-model="household.Phone"
					   ui-mask-placeholder ui-mask-placeholder-char="_"
					   ui-mask="(999)-999-9999"
					   style="width:120px;">
			</div>
			<div>
				<label for="household.Fax">Fax :</label>
				<input type="text" class="" id="household.Fax" autocomplete="off" name="household.Fax"
					   placeholder="(###)-###-####" ng-model="household.Fax"
					   ui-mask-placeholder ui-mask-placeholder-char="_"
					   ui-mask="(999)-999-9999"
					   style="width:120px;">
			</div>
			<div style="border-top:solid 1px lightgray;padding-top:10px">
				<span class="RequiredFieldLabel">* indicates required field</span>
				<input type="submit" style="position:relative;left:50%" class="" ng-click="Update()" value="Save"
                   ng-disabled="addressform.household.Zip.$dirty && addressform.household.Zip.$invalid ||  addressform.household.Street1.$dirty && addressform.household.Street1.$invalid"
                />
				
			</div>
		</div>
		<div class="FieldContainer" style="">
			<div ui-view="householdcontacts">

			</div>
		</div>
	