<div class="table-responsive">
    <div class="text-left" ng-show="contacts.length<=0">Contacts : {{contacts.length}} members</div>
    <table class="table table-striped table-bordered table-hover" ng-if="contacts.length>0">
        <span class="text-left" >No. of Contacts : {{contacts.length}}</span>
		
		<span class="Label-right" ng-show="household.AddressID>0" ng-click="AddContact()">Add Contact</span>
        <thead>
        <tr>
            <th class=".col-md-1 .col-md-1"></th>
            <th class=".col-md-2 .col-md-2">First Name</th>
            <th class=".col-md-2 .col-md-1"></th>
            <th class=".col-md-2 .col-md-2">Last Name</th>
            <th class=".col-md-1 .col-md-1">Gender</th>
            <th class=".col-md-2 .col-md-1">Email</th>
			<th class=".col-md-2 .col-md-1">Mobile</th>
			<th class=".col-md-2 .col-md-1">Age</th>
            <th class=".col-md-1 .col-md-1">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contact in contacts" ng-click="showContactDetail(contact.AddressID, contact.ContactID)">
            <td>{{salutationFormatter(contact.SalutationID)}}</td>
            <td>{{contact.FirstName}}</td>
            <td>{{contact.MiddleName}}</td>
            <td>{{contact.LastName}}</td>
            <td class="text-center">{{genderText(contact.IsMale)}}</td>
            <td>{{contact.Email}}</td>
			<td>{{contact.Mobile}}</td>
			<td>{{contact.Age}}</td>
            <td class="text-center"><i class="fa fa-times" ng-click="remove(contact.ContactID);$event.stopPropagation();"></i></td>
        </tr>
        </tbody>
    </table>
</div>