.TopMenu{
	border:solid 1px lightgray;
	width:135px;
}
.TopMenu img{
	width:25px;height:25px;
}
.TopMenu span{
	padding-left:3px;
	font-weight:bold;
	font-size:12px;
}

.Search{
	border:solid 1px transparent;
	width:220px;
}
.Search img{
	width:22px;height:22px;
}
.Search input{
	width:100px;
	border:solid 1px lightgray;
	border-radius:5px;
	padding-left:5px;
}

.UserName{
	text-decoration:underline;
}

.Signout{
	width:25px;height:25px;
}

.DashBoardBlock
{
	width:260px;
}

.DashBoardHeading
{
	font-weight:bold;
	float:left;width:220px;
}

.DashBoardContent
{
	width:240px;
	float:left;
	margin-top:10px;
	height:300px;
	border:solid 1px gray;
	overflow-y:scroll;
}
.overflow-scroll{
	overflow-y:scroll;
	overflow-x:scroll;
}

.DashBoardContent ul li
{
	margin-top:5px;
}

.DashBoardContent ul li a
{
	text-decoration:none;
}

.DashBoardContent ul li a img
{
	width:18px;
	padding-right:5px
}

.Label-right{
	float:right;
	padding-bottom:10px;
}

.Label-left{
	float:left;
	margin-bottom:10px;
	border:solid 1px lightgray;
	border-radius:5px;
	padding-left:5px;
}

.Reduced-Padding{
	float:left;
	margin-bottom:10px;
	padding:5px 5px 5px 5px;
	/*font-size: 14px;*/
}

.Filterimg{
	width:25px;
	height:25px;
	padding-left:5px;
	cursor:pointer;
}

.table-header{
	text-align:center;
}
.grey-cell{
	background-color: lightgrey;
}

.PageFooter{
	font-weight:bold;
	font-size:small;
	border:solid 1px red;
}

.PageFooter div span{
	padding-top:2px;
}

.PageFooter div input{
	text-align:center;
	border:solid 1px lightgray;
	border-radius:5px;
	width:50px;
}

.PageFooter div img{
	width:25px;
	height:18px;
}

.FieldContainer{
	float:left;
	border:solid 1px gray;
	border-radius:5px;
	padding:10px 10px 10px 10px;
	margin-right:10px;
	margin-left:10px;
	min-height:350px;
}

.FieldContainer div Label
{
	font-size:small;
	font-weight:bold;
	padding:5px 5px 5px 5px;
	width: 110px;
}

.FieldContainer div input
{
	font-size:small;
	padding-left:5px;
	padding-right:5px;
	border:solid 1px lightgray;
	border-radius:5px;
}

.FieldContainer div select
{
	font-size:small;
	padding-left:5px;
	padding-right:5px;
	border:solid 1px lightgray;
	border-radius:5px;
}

.RequiredFieldLabel
{
	font-size:small;
}

.Calenderimg{
	width:16px;
	height:16px;
	cursor:pointer;
}

.modalbuttonright{
	text-align: right;
}


.datepickerdemoBasicUsage {
	/** Demo styles for mdCalendar. */ }
.datepickerdemoBasicUsage md-content {
	padding-bottom: 200px; }
.datepickerdemoBasicUsage .validation-messages {
	font-size: 12px;
	color: #dd2c00;
	margin: 10px 0 0 25px; }

/*.ngdialog-content-search{*/
	/*width: 800px !important;*/
/*}*/

/*.ngdialog.ngdialog-theme-plain .ngdialog-content {*/
	/*max-width: 100%;*/
	/*width: 800px !important;*/
	/*display: inline-block !important;*/
/*}*/
.scroll-panel-x{
	overflow-x:scroll;
}
.scroll-panel-y{
	overflow-y: scroll;
}
.scroll-panel-xy{
	overflow-x:scroll;
	overflow-y: scroll;
}

.bounding-box{
	border: 1px solid #DDD;
}



/* ANIMATE FOR LOADING START */
.glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}
/* ANIMATE FOR LOADING END */

.container-table {
	display: table;
}
.vertical-center-row {
	display: table-cell;
	vertical-align: middle;
}
.body{
	height:100%;
}
.full-height {
	height:100%;
}
.height-80pc {
	height:80%;
}
.full-width{
	width:100%;
}
.header-bar{
	height:12%;
	max-height: 100px;
}
.content-body{
	/*min-height:82%;*/
	height: calc(100% - 100px - 70px - 50px);
}
.footer-bar{
	height:5%;
	max-height: 70px;
}
.footer{
	margin-top:30px;
}
.left-side{
	float: none;
	display: table-cell;
	border: 1px solid;
}
.right-side {
	float: none;
	display: table-cell;
	border: 1px solid;
}
.report-tree-parent-height{
	/*height: 500px;*/
	height:100%;
}
.report-right-panel{
	/*height: 500px;*/
	height:100%;
}
.report-parameter-height{
	height: 24%;
}
.report-height{
	height: 76%;
}
.nopadding{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.leftpadding15px{
	padding-left: 15px;
}
.rightpadding15px{
	padding-right: 15px;
}
.report_page_container{
	height: 100%;
}
.contentrow{
	height:98%;
}
.report-cell-header{
	font-weight: bold;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.report-cell-padding{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.report-cell{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.report-row-even{
	background-color: white;
}
.report-row-odd{
	background-color: #f8f8ff;
}
.report-input-form{
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
