<div class="report_page_container">
    <h4 class="sub-header">Reports</h4>
    <!--<div  class="container-fluid">-->
    <div class="row leftpadding15px rightpadding15px contentrow" >
        <div class="col-md-4 bounding-box report-tree-parent-height nopadding">
            <div treecontrol class="tree-light scroll-panel-x full-height"
                 tree-model="dataForTheTree"
                 options="treeOptions"
                 expanded-nodes="expandedNodes"
                 on-selection="showSelected(node)"
                 selected-node="node1">
                <span ng-switch="" on="node.NodeType">
                    <!--<span ng-switch-when="category" class="fa fa-object-group" aria-hidden="true"></span>-->
                    <span ng-switch-when="report" class="fa fa-table" aria-hidden="true"></span>
                    <span ng-switch-when="graph" class="fa fa-line-chart" aria-hidden="true"></span>
                </span>
                {{node.Name}}
            </div>
        </div>

        <div ui-view="report-input" class="col-md-8 report-right-panel">
        </div>
    </div>
</div>