<div  class="row bounding-box nopadding report-parameter-height">
     <div class="full-height overflow-scroll ">
         <div class="fluid-container">
             <form class="report-input-form">
                 <div ng-repeat="eachfield in metadatafields">
                     <service-field-generator
                                 fieldmetadata="eachfield"
                                 datamodel="DataModel"
                                 datakey="eachfield.Id"/>
                 </div>
                 <hr>
                 <div class="form-group">
                     <input type="submit" style="position:relative;"
                            class="" ng-click="getReport()" value="Get Report" ng-disabled=""/>
                        
                 </div>
             </form>
         </div>

    </div>
</div>

<div class="row bounding-box nopadding report-height">
    <div fullscreen="isFullScreen" only-watched-property class="full-width full-height overflow-scroll">
		<span class="pull-right" aria-hidden="true" style="border: 1px solid black; padding: 2px 2px 2px 2px; margin-top: 7px; margin-right: 7px;" ng-show="showdata">
			<i class="fa fa-file-pdf-o" ng-click="downloadPDF()" aria-hidden="true"> PDF </i>
			<i class="fa fa-file-excel-o" filename="{{reportcaption}}.csv" csv-header="dataheader"  ng-csv="data" aria-hidden="true"> CSV </i>
			<i ng-click="goFullScreenViaWatcher()" class="fa "
			   ng-class="{'fa-compress' : isFullScreen, 'fa-expand': !isFullScreen}" aria-hidden="true"> Fullscreen </i>
		</span>
		<div id="no-data" ng-show="!showdata && !firsttime">No Data to Display.</div>
		<table id="report-table" ng-show="showdata"  class="full-width table table-condensed table-bordered table-hover">
			<thead>
				<tr >
					<th ng-repeat="(key, value) in data[0]" class="table-header grey-cell" >
						{{ key }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="eachdata in data" ng-class-odd="'report-row-odd'" ng-class-even="'report-row-even'" >
					<td ng-repeat="(key, value) in eachdata"   ng-class="getAlignCss(value)">
						{{ value |  replacezero }}
					</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>